@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" );

* {
margin:0;
padding:0;
box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;


}
a{
  text-decoration: none;
}
div#header {

  position: fixed;
  width: 100%;
  height: 35px;
  background-color:#34495E;
  margin:0 auto;


}

.logo a{
  font-size: 1.0em;
  color: #ecf0f1;
}

.logo a span {
  font-weight: 300;
}

.logo{
  float: left;
  padding-left: 5px;
  margin-top: 2px;
  height: :40px;
  width: 40px;
}

.logotext{
  float: left;
  color: #ecf0f1;
  padding-left: 2px;
  margin-top: 5px;
  height: :40px;
  width: 40px;
}

.logout{
  float:right;
  padding-right: 5px;
  margin-top: 1px;
}

.logout a{
  font-size: 0.8em;
  color: #ecf0f1;
}

.logout a span {
  font-weight: 300;
}

.limg{
  height: :30px;
  width: 30px;
}

div#tool {
  width: 100%;
  margin: 0 auto;
}

.sidebar {

  position: fixed;
  width:100%;
  height: 35px;
  background-color: #34495E;
  margin-top:637px;
  float: bottom;
  -webkit-box-shadow: 3px 15px 22px 28px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 15px 22px 28px rgba(0,0,0,0.75);
box-shadow: 3px 15px 22px 28px rgba(0,0,0,0.75);



}

.edits {
  margin-top: 35px;
  position: absolute;;
  height:100%;
  cursor: crosshair;
  width: 100%;
  color: #fff;
}


ul#nav {
  position: relative;
  top:10px;

}

ul#nav li {
  list-style: none;

}

ul#nav li {
    display: inline;
}

ul#nav li a{
  color: #ccc;
  text-decoration: none;
  display:inline;
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 1px;
  padding-right: 5px;
  font-size: 0.8em;
  border-right: : 1px solid #0A0A0A;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
ul#nav li a:hover{
  background-color:#476b6b;
  color: #fff;
  opacity: 0.5;
}

ul#nav li a.selected{
  background-color:#2c3e50;
  color: #fff;

}

section {
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}


.img {
  height:20px;
  width: 20px;
}

div#box {
  margin-top :15px;
}

div#box .box-top{
  color: #fff;
  text-shadow: 0px 0px 1px #ddd;
  background-color: #2980b9;
  padding:5px;
}
div#box .box-panel{
  padding: 15px;
  background-color: #fff;
}

<!----------------------------------------------------------------------------->
